*{
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 95vh; 
}
.container h1{
    font-size: 80px;
    text-shadow: -1px 1px 0 #41ba45,
          1px 1px 0 #c63d2b,
         1px -1px 0 #42afac,
        -1px -1px 0 #c6c23f;
}
.container button{
    border-radius: 10px;
    border: none;
    margin-top: 50px;
    font-weight: 300;
    font-size: 15px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 10px 60px;
    font-size: 2rem;
    color: red;
    cursor: pointer;
}
#color-code{
    margin-top: 20px;
    text-transform: uppercase;
}
.copyright{
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: monospace;
    height: 5vh;
}
.copyright a {
    text-decoration: none;
    color: #000; 
    font-family: monospace;
    letter-spacing: 5px;
}
@media only screen and (max-width : 768px) {
.container h1{
font-size :50px
}
.container button{
font-size :20px
}
}
@media only screen and (max-width : 480px) {
    .container h1{
    font-size :30px
    }
    .container button{
    font-size :15px
    }
    }
    